/* set background type */

@mixin background($path, $type:"", $position:"", $attachment:"", $repeat: no-repeat) {
    background: {
        image: url($path);
        size: #{$type};
        position: #{$position};
        attachment: #{$attachment};
        repeat: $repeat;
    }
    -webkit-background: {
        size: $type;
    }
}

/* mixins - css3 */

@mixin gradient($position, $color1, $start, $color2, $end) {
    background: $color2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$color1), color-stop(50%,$color2));
    background: -webkit-linear-gradient($position, $color1 $start, $color2 $end);
    background: -moz-linear-gradient($position, $color1 $start, $color2 $end);
    background: -o-linear-gradient($position, $color1 $start, $color2 $end);
    background: -ms-linear-gradient($position, $color1 $start, $color2 $end);
    background: linear-gradient($position, $color1 $start, $color2 $end);
}


@mixin boxshadow($inset:"", $horiz: 0px, $vert: 1px, $blur: 3px, $spread: 1px, $color: rgba(0, 0, 0, .3)) {
  -webkit-box-shadow: #{$inset} $horiz $vert $blur $spread $color;
  -moz-box-shadow: #{$inset} $horiz $vert $blur $spread $color;
  box-shadow: #{$inset} $horiz $vert $blur $spread $color;
  -webkit-appearance: none;
}

/* mixins - css3 transitions, animation, transforms */

@mixin transition($property, $seconds: 1s, $type: linear) {
  -moz-transition: $property $seconds $type;
  -ms-transition: $property $seconds $type;
  -o-transition: $property $seconds $type;
  -webkit-transition: $property $seconds $type;
  transition: $property $seconds $type;
}

@mixin transition_double($property, $seconds: 1s, $transition_type:"", $property2:"", $seconds2:"", $transition_type2:"linear") {
  -moz-transition: $property $seconds $transition_type, $property2 $seconds2 $transition_type2;
  -ms-transition: $property $seconds $transition_type, $property2 $seconds2 $transition_type2;
  -o-transition: $property $seconds $transition_type, $property2 $seconds2 $transition_type2;
  -webkit-transition: $property $seconds $transition_type, $property2 $seconds2 $transition_type2;
  transition: $property $seconds $transition_type, $property2 $seconds2 $transition_type2;
}

@mixin animation($name, $seconds: 1s, $type: linear, $looping: "") {
  -webkit-animation: $name $seconds $type  #{$looping};
  -moz-animation: $name $seconds $type #{$looping};
  -ms-animation: $name $seconds $type #{$looping};
  -o-animation: $name $seconds $type #{$looping};
  animation: $name $seconds $type #{$looping};
}

@mixin transform($type) {
    -webkit-transform: $type;
    -moz-transform: $type;
    -ms-transform: $type;
    -o-transform: $type;
    transform: $type;
}


// keyframes

@mixin keyframe($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}